/* Loading in fonts */
@font-face {
    /* https://www.fontspace.com/pixeloid-font-f69232 */
    font-family: pixeloid;
    src: url(fonts/pixeloid-font/PixeloidSans-nR3g1.ttf);
}


/* REMOVING DEFAULT STYLES */

a {
    color: inherit;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-top: 0;
    margin-bottom: 0;
}


/* Scrollbar styles from: https://codepen.io/stephenpaton-tech/full/JjRvGmY */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #000000 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 0px;
    border: 1px solid #ffffff;
}


/* BODY */
body {
    font-family: pixeloid;
    --scrollbar-width: calc(100vw - 100%);
    margin: 0;
}

input[type="text"] {
    font-size: 2em;
    font-family: pixeloid;
    background-color: none;
    border: none;
}


/* HEADER */
header {
    background-color: red;
    width: calc(100vw - var(--scrollbar-width));
    height: 8vh;
}
header > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    margin: auto;
    width: 100%;
}
header>div>a {
    width: 10%;
    text-align: center;
}

/* NAVIGATION */
nav {
    width: 90%;
    background-color: orange;
    min-height: 8vh;
    height: 8vh;
    max-height: 8vh;
}

nav>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: calc(100vw - var(--scrollbar-width));
}

nav>ul>a {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: underline;
    font-weight: 200;
    height: 100%;
    width: 100%;
    color: white;

    /* Background animation */
    /* https://stackoverflow.com/questions/20751937/transition-background-color-via-slide-animation */
    transition-duration: .25s;
    background:
        linear-gradient(white, white) no-repeat,
        black;
    background-size: 100% 0%;
    background-position: bottom;
}

nav>ul>a:not(.flexBreak):hover {
    background-size: 100% 100%;
    color: black;
}

.selectedNavigation {
    font-weight: 600;
}

/* MAIN */
main {
    background-color: #666666;
    height: 87vh;
    min-height: 87vh;
    width: calc(100vw - var(--scrollbar-width));
}

main > #mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

/* CONTENT */
#qrcode-container img {
    max-height: 70vh;
    height: 60vh;
    transition: .5s;
}

#qrcode-container img:hover {
    background-color: white;
    cursor: pointer;
}

#qrcode-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

/* FOOTER */
footer {
    height: 5vh;
    background-color: black;
    color: white;
}


/* Generally stying icon buttons */
button.icon {
    width: 60px;
    height: 60px;
}

button.icon i {
    width: 100%;
    height: 100%;
}

button.icon > i > svg {
    width: 100%;
    height: 100%;
}
